[submodule "comp4321-proj"]
	path = comp4321-proj
	url = git@github.com:STommydx/COMP4321-Project.git
[submodule "comp4321-proj-ui"]
	path = comp4321-proj-ui
	url = git@github.com:STommydx/COMP4321-Project-UI.git
